
form {
    max-width: 300px;
    margin: auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dark-button {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dark-button:hover {
    background-color: #555;
  }
  

  